<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue - Home</title>

    <link rel="stylesheet" href="index.js">

    <!-- versão de desenvolvimento, inclui avisos úteis no console  -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

<div id="app">
    {{ message }}
</div>

<div id="app-2">
        <span v-bind='message'>
            Pare o mouse sobre mim e veja a dica interligada dinamicamente!
        </span>
</div>

<div id="app-3">
    <p v-if="seen">Agora você me viu</p>
</div>

<div id="app-4">
    <ol>
        <li v-for="todo in todos">
            {{ todo.text }}
        </li>
    </ol>
</div>

<div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">Inverter Mensagem</button>
</div>

<div id="app-6">
    <p>{{ message }}</p>
    <input v-model="message">
</div>

<script src="index.js"></script>
</body>

</html>